header {
  background-color: #274483;
  padding: 0.5rem;
  position: relative;
  a {
    border-radius: 12px;
    color: #aac1f0;
    &:hover {
      background-color: #aac1f0;
      color: #274483;
    }
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #aac1f0;
  a {
    padding: 0.5rem;
    width: 100%;
    color: #274483;
    border-radius: 0;
    &:hover {
      color: #aac1f0;
      background: #274483;
    }
  }
}
